.mainCol{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.mainCol > .child2{
    width: 80%;
}
.suspectCase{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 51, 102);;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
    cursor: pointer; /* Change cursor to pointer */
        
}
.suspectChild1{
    background-color: rgb(255, 255, 255);
    height:200px;
    width: 30%;
    
            padding: 10px;
            overflow: hidden; /* Ensures image doesn't overflow */
            display: flex;
            flex-direction: row;
      align-items: center;
}
.suspectChild1 img {
    max-width: 100%; /* Ensures image fits within container */
    min-width: auto;
    max-height: 100%; /* Maintains aspect ratio */
    display: block; /* Removes any extra spacing below image */
}
.suspectChild2{
    background-color:rgb(255, 255, 255);
    width: 60%;
    height: auto;
    padding-left: 5%;
    padding-top: 10px;

    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.suspectHeading{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0;
    margin-top:0
}
.suspectRowTitle{
    font-size: 17px;font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0;
}
.suspectRowDefinition{
    
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0;
    margin-left: 5px;
}
.detailsRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    

}

.tableRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
   
}
/* .imageRow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
} */


.clickedImageDiv{
    width: 30%;
    padding: 10px;
    overflow: hidden; /* Ensures image doesn't overflow */
    display: flex;
    flex-direction: row;
align-items: center;
background-color: rgb(04, 51, 140);
}


.clickedImageDiv img {
    max-width: 100%; /* Ensures image fits within container */
    min-width: auto;
    max-height: 100%; /* Maintains aspect ratio */
    display: block; /* Removes any extra spacing below image */
}

.clickedCaseSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pageDiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.backButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    cursor: pointer;
    margin-top: 30px;
}