.mainDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
   background-color: aliceblue;
   padding-top:20px;
   padding-bottom:20px;

   height: 400px;
}
.mainDiv > *{
    display: flex;
    width: 40%;
}
.firstChild{
    height: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.firstChild >*{
    margin-top: 5px;
}
.firstChild > h2{
    color:  rgb(0, 51, 102);
}
.firstChild > p{
    font-size: 16px;
}
.div{
    width: 100px;
    height: 9px;
    background-color: rgb(0, 51, 102);
    border-radius: 30px;
    margin-bottom: 5px;
 /* Set initial position to be outside the viewport */
 transform: translateX(-100%);
 transition: transform 0.5s ease; /* Smooth transition for the transform property */
}

/* Add a class to reset the transform property and trigger the sliding effect */
.div.show {
 transform: translateX(0);
}
.btn{
    width: 200px;
    height: auto;
    padding: 5px;
    font-size: 20px;
    color: white;
    background-color: rgb(0, 51, 102);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 100px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for color and background-color */

    cursor: pointer; /* Set the cursor to a hand pointer */
}
.btn:hover{
    color: rgb(0, 51, 102);
    background-color: white;
    
}
.btnDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* second CHild */

  
.image {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensure the image covers the entire container */
    transition: opacity 0.5s ease-in-out;
   /* border-radius: 50%; */
  border:5px  rgb(0, 51, 102) solid;
   }
@media only screen and (max-width:800px) and  (max-width:1000px){
    .firstChild{
        width: 30%;
    }
}

@media only screen and (min-width:650px) and   (max-width:800px){
    .firstChild{
        width: 30%;
    }
    .div{
        width: 70px;
    }
    .h1{
        font-size: 25px;
    }
    .h2{
        font-size: 18px;
    }
    .p{
        font-size: 12px;
    }
}
@media only screen and   (max-width:650px){
    .mainDiv{
        flex-direction: column-reverse;
        align-items: center;
    }
    .mainDiv > *{
        width: 80%;
    }
}