.column{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 25%;
}
.column p{
    margin: 10px;
    text-align: center;
    color: aliceblue;
}
.column p > Link{
    color: aliceblue;
}
.column img{
    width: 200px;
}
.column h2{
    color: aliceblue;
}
@media only screen and (max-width: 650px) {
    .column>h2{
font-size: 30px;
    }
    .column{
        width: 100%;
        max-width: 100%;
    }
}
