.mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.nameField{
    width: 60%;
    margin-top: 20px;
}
.queryField{
    width: 60%;
    
    margin-top: 20px;
}
.emailField{
    width: 60%;
    
    margin-top: 20px;
}
.btn{
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left:10px;
    font-weight:bold;
    color:rgb(0, 51, 102);
    border:2px rgb(0, 51, 102) solid;
    width:80px;
}
.formDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
width: 100%;
}
.formDiv>*{
    margin-top: 20px;
}
